---
import Layout from "../layouts/Layout.astro";
import CMouseStalker from "../components/CMouseStalker.astro";
import CScrollText from "../components/CScrollText.astro";
import CBox from "../components/CBox.astro";
---

<Layout title="森岡の気になる演出集">
  <CMouseStalker />
  <main>
    <CBox />
    <CScrollText />
    <CBox />
  </main>
</Layout>

<style lang="scss"></style>
