---
import Layout from "../layouts/Layout.astro";
import MouseStalker from "../components/common/MouseStalker.astro";
import ScrollText from "../components/pages/top/ScrollText.astro";
import Box from "../components/common/Box.astro";
import ScrollDown from "../components/pages/top/ScrollDown.astro";
---

<Layout title="森岡の気になる演出集">
  <MouseStalker />
  <main>
    <ScrollDown />
    <ScrollText />
    <Box />
  </main>
</Layout>

<style lang="scss"></style>
