<section class="CScrollText">
  <div class="content">
    <h1 class="heading">
      <span class="heading-text clip" data-scroll="scrollText">「オフィス」をデザインする時代から、</span>
      <span class="heading-text clip" data-scroll="scrollText">「はたらく」をデザインする時代へ。</span>
    </h1>
    <p class="content">
      <span class="text clip" data-scroll="scrollText">リモートワーク、フレックスタイム制、</span>
      <span class="text clip" data-scroll="scrollText">コワーキングスペース、サテライトオフィス…。</span>
      <span class="text clip" data-scroll="scrollText">はたらく環境はますます多様化し、</span>
      <span class="text clip" data-scroll="scrollText">オフィスではなくはたらき方をデザインする</span>
      <span class="text clip" data-scroll="scrollText">『ワークデザイン』が必要とされています。</span>
      <span class="text clip" data-scroll="scrollText">データに基づく確かな「根拠」と変動する社会に合わせた</span>
      <span class="text clip" data-scroll="scrollText">「継続性」を駆使し、</span>
      <span class="text clip" data-scroll="scrollText">あなたの会社だけの理想を共に実現しましょう。</span>
    </p>
  </div>
</section>

<style lang="scss">
  .CScrollText {
    height: 100vh;
    display: grid;
    place-content: center;
  }

  .heading {
    line-height: 50px;
    font-size: 24px;
    margin-bottom: 50px;

    &-text {
      display: block;
      width: max-content;
    }
  }

  .content {
    line-height: 36px;
  }

  .text {
    font-size: 16px;
    display: block;
    width: max-content;
  }

  .clip {
    background-image: linear-gradient(90deg, rgb(68, 64, 63) 100%, rgba(68, 64, 63, 0) 100%);
    background: linear-gradient(90deg, #ff3d3d 0%, #ffdede 0%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
</style>

<script>
  class CScrollText {
    [x: string]: any;

    constructor() {
      this.scrollText = document.querySelectorAll('[data-scroll="scrollText"]');
      this.init();
    }

    updateGradient() {
      this.scrollText.forEach((elm) => {
        const rect = elm.getBoundingClientRect();
        const windowHeight = window.innerHeight;

        const triggerPoint = windowHeight / 1;

        if (rect.top < triggerPoint && rect.bottom >= 0) {
          const progress = (triggerPoint - rect.top) / triggerPoint;
          const easedProgress = this.easeInOutCubic(progress);
          const ratio = easedProgress * 1000;
          elm.style.backgroundImage = `linear-gradient(90deg, rgb(68, 64, 63)  ${ratio}%, rgba(68, 64, 63, .3) 0%)`;
        }
      });
    }

    //イージング
    easeInOutCubic(progress) {
      return progress < 0.5 ? 4 * progress * progress * progress : 1 - Math.pow(-2 * progress + 2, 3) / 2;
    }

    init() {
      window.addEventListener("scroll", this.updateGradient.bind(this));
      this.updateGradient();
    }
  }

  new CScrollText();
</script>
